<div class="container m-5 p-5 bg-light">
    <a  class=" btn btn-outline-primary  mt-3" (click)="addUserFun()">Add User</a>
    <div class="row">
        
        <h4 class="text-center mb-5 ">
            Users Page
        </h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of alluser">
                <th scope="row">{{user.id}}</th>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>
                  <a href="" class="btn btn-info mx-2" routerLink="/userDetails/{{user.id}}">View</a>
                  <a href="" class="btn btn-warning mx-2" routerLink="/adduser/{{user.id}}">Update</a>
                  <button class="btn btn-danger " (click)="delete(user.id)">Delete</button>
                </td>
              </tr>
              
            </tbody>
          </table>

    </div>

</div>
